.container
    .row
      .img-container
     .span8
        h3 Name: #{name}
        br
        h3 User Name: #{username}
        br
        h3 Unique ID: #{_guid}
        br
        p  Unique ID code must be remeber because it will be asked during intallation!

