center
	div(id="loginbox")
		form(name="frmLogin", action="/done", method="post")
			|status:
			input(name="done", type="text")
			br
			|id:
			input(name="txtQuery", type="text")
			br
			input(type="submit", value="login")
