center
	div(id="donebox")
		form(name="frmLogin", action="/done", method="post")
			|Status:
			input(name="done", type="text")
			br
			|code:
			input(name="txtQuery", type="text")
			br
			input(type="submit", value="Submit")
